<a href="https://colab.research.google.com/github/amiguelnobrega/AQI/blob/main/aqi4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Imports

In [1]:
# Import relevant packages

import pandas as pd
import numpy as np
from scipy import stats

In [2]:
# Mount Google Drive in colab notebook

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
# Get .csv from gdrive

aqi = pd.read_csv('/content/gdrive/Othercomputers/My MacBook Air/Estudo/Google Advance DA/Projects/AQI/c4_epa_air_quality.csv')
print('done!')

done!

#2. Data Exploration

In [4]:
# Explore the AQI dataframe

print("Use head() to show a sample of data")
print(aqi.head())

print("Use describe() to summarize AQI")
print(aqi.describe(include='all'))

print("For a more thorough examination of observations by state use values_counts()")
print(aqi['state_name'].value_counts())

print('for a more')

Use head() to show a sample of data
   Unnamed: 0  date_local    state_name   county_name      city_name  \
0           0  2018-01-01       Arizona      Maricopa        Buckeye
1           1  2018-01-01          Ohio       Belmont      Shadyside
2           2  2018-01-01       Wyoming         Teton  Not in a city
3           3  2018-01-01  Pennsylvania  Philadelphia   Philadelphia
4           4  2018-01-01          Iowa          Polk     Des Moines

                                     local_site_name   parameter_name  \
0                                            BUCKEYE  Carbon monoxide
1                                          Shadyside  Carbon monoxide
2  Yellowstone National Park - Old Faithful Snow ...  Carbon monoxide
3                             North East Waste (NEW)  Carbon monoxide
4                                          CARPENTER  Carbon monoxide

    units_of_measure  arithmetic_mean  aqi
0  Parts per million         0.473684    7
1  Parts per million         0.263158    5
2  Parts per million         0.111111    2
3  Parts per million         0.300000    3
4  Parts per million         0.215789    3
Use describe() to summarize AQI
        Unnamed: 0  date_local  state_name  county_name      city_name  \
count   260.000000         260         260          260            260
unique         NaN           1          52          149            190
top            NaN  2018-01-01  California  Los Angeles  Not in a city
freq           NaN         260          66           14             21
mean    129.500000         NaN         NaN          NaN            NaN
std      75.199734         NaN         NaN          NaN            NaN
min       0.000000         NaN         NaN          NaN            NaN
25%      64.750000         NaN         NaN          NaN            NaN
50%     129.500000         NaN         NaN          NaN            NaN
75%     194.250000         NaN         NaN          NaN            NaN
max     259.000000         NaN         NaN          NaN            NaN

       local_site_name   parameter_name   units_of_measure  arithmetic_mean  \
count              257              260                260       260.000000
unique             253                1                  1              NaN
top            Kapolei  Carbon monoxide  Parts per million              NaN
freq                 2              260                260              NaN
mean               NaN              NaN                NaN         0.403169
std                NaN              NaN                NaN         0.317902
min                NaN              NaN                NaN         0.000000
25%                NaN              NaN                NaN         0.200000
50%                NaN              NaN                NaN         0.276315
75%                NaN              NaN                NaN         0.516009
max                NaN              NaN                NaN         1.921053

               aqi
count   260.000000
unique         NaN
top            NaN
freq           NaN
mean      6.757692
std       7.061707
min       0.000000
25%       2.000000
50%       5.000000
75%       9.000000
max      50.000000
For a more thorough examination of observations by state use values_counts()
state_name
California              66
Arizona                 14
Ohio                    12
Florida                 12
Texas                   10
New York                10
Pennsylvania            10
Michigan                 9
Colorado                 9
Minnesota                7
New Jersey               6
Indiana                  5
North Carolina           4
Massachusetts            4
Maryland                 4
Oklahoma                 4
Virginia                 4
Nevada                   4
Connecticut              4
Kentucky                 3
Missouri                 3
Wyoming                  3
Iowa                     3
Hawaii                   3
Utah                     3
Vermont                  3
Illinois                 3
New Hampshire            2
District Of Columbia     2
New Mexico               2
Montana                  2
Oregon                   2
Alaska                   2
Georgia                  2
Washington               2
Idaho                    2
Nebraska                 2
Rhode Island             2
Tennessee                2
Maine                    2
South Carolina           1
Puerto Rico              1
Arkansas                 1
Kansas                   1
Mississippi              1
Alabama                  1
Louisiana                1
Delaware                 1
South Dakota             1
West Virginia            1
North Dakota             1
Wisconsin                1
Name: count, dtype: int64
for a more

#3. Statistical tests

* Is the mean AQI in Los Angeles County is statistically different from the rest of California?
* Does New York have a lower AQI than Ohio?

**Notes:**
1. For this analysis, we will default to a 5% level of significance.
2. Throughout this exercise, for two-sample t-tests, we will use Welch's t-test (i.e., setting the `equal_var` parameter to `False` in `scipy.stats.ttest_ind()`). This will account for the possibly unequal variances between the two groups in the comparison.

###Steps to conduct hypothesis testing (a/b testing)

1. Formulate the null hypothesis and the alternative hypothesis.<br>
2. Set the significance level.<br>
3. Determine the appropriate test procedure.<br>
4. Compute the p-value.<br>
5. Interpret results.

## Hypothesis 1: Is the mean AQI in Los Angeles County statistically different from the rest of California.

#### 1. Formulate the null and alternative hypotheses:

*   $H_0$: There is no difference in the mean AQI between Los Angeles County and the rest of California.
*   $H_A$: There is a difference in the mean AQI between Los Angeles County and the rest of California.

In [13]:
# Create dataframes for each sample being compared in the test

ca_la = aqi[aqi['county_name']=='Los Angeles']
ca_other = aqi[(aqi['state_name']=='California') & (aqi['county_name']!='Los Angeles')]

####2. Set Significance Level

In [8]:
# For this analysis, the significance level is 5%

significance_level = 0.05
significance_level

0.05

####3. Determine the appropriate test procedure:

* Two sample T-test, since we are comparing the sample means between two independent samples.

#### 4. Compute P-value

In [9]:
# Compute p-value

stats.ttest_ind(a=ca_la['aqi'], b=ca_other['aqi'], equal_var=False)

TtestResult(statistic=2.1107010796372014, pvalue=0.049839056842410995, df=17.08246830361151)

####5. Interpretation

* With the p-value (0.049) being less than 0.05 (as your significance level is 5%), we reject the null hypothesis in favor of the alternative hypothesis.

## Hypothesis 2: Does New York have a lower AQI than Ohio?

#### 1. Formulate the null and alternative hypotheses:

*   $H_0$: The mean AQI of New York is greater than or equal to that of Ohio.
*   $H_A$: The mean AQI of New York is **below** that of Ohio.

In [11]:
# Create dataframes for each sample being compared in the test

ny = aqi[aqi['state_name']=='New York']
ohio = aqi[aqi['state_name']=='Ohio']

####2. Set Significance Level


* Significance Level (remains at 5%)

#### 3. Determine the appropriate test procedure:

* We will utilize a two-sample 𝑡-test, since we are comparing the sample means between two independent samples in one direction.

#### 4. Compute P-value

In [12]:
# Compute p-value

tstat, pvalue = stats.ttest_ind(a=ny['aqi'], b=ohio['aqi'], alternative='less', equal_var=False)
print(tstat)
print(pvalue)

-2.025951038880333
0.03044650269193468

####5. Interpretation

* With a p-value (0.030) of less than 0.05 (as the significance level is 5%) and a t-statistic < 0 (-2.036), **reject the null hypothesis in favor of the alternative hypothesis**.

* Therefore, we conclude at the 5% significance level that New York has a lower mean AQI than Ohio.

# 4. Results and Evaluation

* The results indicated that the AQI in Los Angeles County was in fact different from the rest of California.

* Using a 5% significance level, you can conclude that New York has a lower AQI than Ohio based on the results.

###Conclusion

* Even with small sample sizes, the variation within the data is enough to allow to make statistically significant conclusions.
* We identified at the 5% significance level that the Los Angeles mean AQI was stastitically different from the rest of California, and that New York does have a lower mean AQI than Ohio.